<div class="row">
    <div class="small-12 column">
        <h1>Pokemon Detail</h1>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 large-4 columns">
        <label><h4>Pokemon</h4>
            <select ng-model="vm.selectedPokemon"
                    ng-options="'ID ' + pokemon.id + ': ' + (pokemon.name | first2upper) for pokemon in vm.pokemons"
                    ng-change="vm.loadPokemon()">
                <option value="" ng-if="!vm.isPokemonSelected()">-- Please select --</option>
            </select>
        </label>
    </div>
</div>

<div class="row">
    <div class="small-12 column">
        <div ng-if="!vm.loaded" class="pokemon-spinner" ng-include="'core/loading-bar.html'"></div>
        <div ng-if="vm.loaded && vm.isPokemonSelected()">
            <pokemon data="vm.pokemonDetail"></pokemon>
        </div>
    </div>
</div>