// center element horizontally and vertically
@mixin centerXY($color: null) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  @if ($color != null) {
    color: $color;
  }
}

// places elements into right bottom corner
@mixin rbCorner {
  position: absolute;
  bottom: 0;
  right: 0;
}