// colors
$color-1: cornflowerblue;
$color-2: yellowgreen !default;
$color-3: crimson !default;
$color-4: yellow !default;

// sizes
$base-size: 16px;
$div-size: 32px;
$div-height: 12em !default;

// breakpoints
$S: 640px !default;
$M: 1024px !default;