// colors
$color-1: cornflowerblue;
$color-2: yellowgreen !default;
$color-3: crimson !default;
$color-4: yellow !default;

// z-indexes
$z-index-d: -1;
$z-index-e: 1;

// sizes
$div-height: 200px;
$margin: 20px;