.a {
    width: 500px;
    background-color: cornflowerblue;
    margin: 20px;
    padding: 40px;
    box-sizing: border-box;
    transform: rotate(30deg);
}

.b {
    background-color: beige;
}

.c {
    background-color: violet;
    clear: both;
}

.d {
    background-color: yellowgreen;
    display: inline;
}

.e {
    background-color: crimson;
    display: block;
}