.a, .b, .c, .d {
    width: 33.3333333333%;
    height: 200px;
    float: left;
}

.a code, .b code, .c code, .d code {
    font-size: 50px;
    font-weight: bold;
}

.a {
    position: static;
    background-color: cornflowerblue;
}

.b {
    background-color: yellowgreen;
    position: relative;
    top: 50px;
}

.c {
    position: relative;
    background-color: crimson;
}

.d {
    position: fixed;
    background-color: yellow;
    top: 0;
    right: 0;
    z-index: -1;
}

.e {
    position: relative;
    z-index: 1;
}

.a code {
    position: absolute;
    bottom: 0;
    right: 0
}

.b code, .d code {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.c code {
    position: absolute;
    bottom: 0;
    right: 0;
}

.d code {
    z-index: 2;
}