<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskForce Training</title>
    <link rel="stylesheet" href="normalize-css/normalize.css"/>
    <link rel="stylesheet" href="main.css"/>
</head>
<body ng-app="tf-training" ng-controller="CoreController as core">

<div ng-if="!core.loaded" ng-include="'core/loading-bar.html'"></div>
<div ng-if="core.loaded">
    <nav>
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="detail">Detail</a></li>
            <li><a ui-sref="about">About</a></li>
        </ul>
    </nav>

    <main ui-view></main>
</div>

<!-- bower -->
<script src="angular/angular.min.js"></script>
<script src="angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- app -->
<script src="app.module.js"></script>
<script src="core/core.module.js"></script>
<script src="core/pokedex.service.js"></script>
<script src="core/core.controller.js"></script>
<script src="core/first2upper.filter.js"></script>
<script src="home/home.module.js"></script>
<script src="home/home.controller.js"></script>
<script src="about/about.module.js"></script>
<script src="about/about.controller.js"></script>
<script src="error/error.module.js"></script>
<script src="error/error.controller.js"></script>
<script src="detail/detail.module.js"></script>
<script src="detail/pokemon.service.js"></script>
<script src="detail/detail.controller.js"></script>
<script src="detail/pokemon.directive.js"></script>

</body>
</html>